In [54]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('/content/Luxury_Housing_Bangalore.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB
None

In [55]:
print(df.columns)

Index(['Property_ID', 'Micro_Market', 'Project_Name', 'Developer_Name',
       'Unit_Size_Sqft', 'Configuration', 'Ticket_Price_Cr',
       'Transaction_Type', 'Buyer_Type', 'Purchase_Quarter',
       'Connectivity_Score', 'Amenity_Score', 'Possession_Status',
       'Sales_Channel', 'NRI_Buyer', 'Locality_Infra_Score',
       'Avg_Traffic_Time_Min', 'Buyer_Comments'],
      dtype='object')

In [56]:
print(df.isnull().sum())

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [57]:
df['Micro_Market']=df['Micro_Market'].str.title().str.strip()
print(df['Micro_Market'])

0             Sarjapur Road
1               Indiranagar
2         Bannerghatta Road
3              Bellary Road
4               Koramangala
                ...
100995         Bellary Road
100996         Bellary Road
100997          Hennur Road
100998          Rajajinagar
100999           Whitefield
Name: Micro_Market, Length: 101000, dtype: object

In [58]:
#Unit_Size_Sqft
print('Total number of null values in Original:',df['Unit_Size_Sqft'].isnull().sum())
df['Unit_Size_Sqft']=df['Unit_Size_Sqft'].fillna(df['Unit_Size_Sqft'].mean())

df['Unit_Size_Sqft']=df['Unit_Size_Sqft'].astype(int)
print('Total number of null values in Cleaned:',df['Unit_Size_Sqft'].isnull().sum())

Total number of null values in Original: 10046
Total number of null values in Cleaned: 0

In [59]:
df.loc[:,'Configuration']=df['Configuration'].astype(str).str.upper()

In [60]:
df.loc[:,'Ticket_Price_Cr']=(df['Ticket_Price_Cr'].astype(str).str.replace('Cr','',regex=False)
                             .str.replace('â‚¹', '', regex=False).str.strip().astype(float))

In [61]:
df["Ticket_Price_Cr"] = pd.to_numeric(df["Ticket_Price_Cr"], errors="coerce")
df["Ticket_Price_Cr"] = df["Ticket_Price_Cr"].mask(df["Ticket_Price_Cr"] <= 0, np.nan)
mean_value = df["Ticket_Price_Cr"].mean(skipna=True)
df["Ticket_Price_Cr"] = df["Ticket_Price_Cr"].fillna(mean_value)
mean_value = df["Ticket_Price_Cr"].mean(skipna=True)
df["Ticket_Price_Cr"] = df["Ticket_Price_Cr"].fillna(mean_value)
print('Total no of null values in Ticket Price',df['Ticket_Price_Cr'].isnull().sum())

Total no of null values in Ticket Price 0

In [62]:
print(df['Transaction_Type'].value_counts())

Transaction_Type
Secondary    50506
Primary      50494
Name: count, dtype: int64

In [63]:
df['Connectivity_Score']=df['Connectivity_Score'].round(2)
print(df['Connectivity_Score'])

0         7.99
1         4.84
2         8.13
3         7.50
4         4.53
          ...
100995    8.55
100996    6.88
100997    6.75
100998    4.44
100999    7.76
Name: Connectivity_Score, Length: 101000, dtype: float64

In [64]:
df['Amenity_Score'] = df['Amenity_Score'].fillna(df['Amenity_Score'].mean())
df['Amenity_Score'].isna().sum()

np.int64(0)

In [65]:
df['Buyer_Comments'] = df['Buyer_Comments'].fillna('No comments')
df.isna().sum()

Property_ID             0
Micro_Market            0
Project_Name            0
Developer_Name          0
Unit_Size_Sqft          0
Configuration           0
Ticket_Price_Cr         0
Transaction_Type        0
Buyer_Type              0
Purchase_Quarter        0
Connectivity_Score      0
Amenity_Score           0
Possession_Status       0
Sales_Channel           0
NRI_Buyer               0
Locality_Infra_Score    0
Avg_Traffic_Time_Min    0
Buyer_Comments          0
dtype: int64

In [66]:
df["Price_per_Sqft"] = df["Ticket_Price_Cr"] * 10000000 / df["Unit_Size_Sqft"]

In [67]:
df['Purchase_Quarter'] = pd.to_datetime(df['Purchase_Quarter'], errors='coerce')
df['Quarter_Number'] = (df['Purchase_Quarter'].dt.quarter
    .fillna(0)
    .astype(int))
print(df['Quarter_Number'].value_counts())

Quarter_Number
3    25301
1    25281
2    25263
4    25155
Name: count, dtype: int64

/tmp/ipython-input-2954373349.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Purchase_Quarter'] = pd.to_datetime(df['Purchase_Quarter'], errors='coerce')

In [68]:
df['Connectivity_Score']=df['Connectivity_Score'].round(2)
print(df['Connectivity_Score'])

0         7.99
1         4.84
2         8.13
3         7.50
4         4.53
          ...
100995    8.55
100996    6.88
100997    6.75
100998    4.44
100999    7.76
Name: Connectivity_Score, Length: 101000, dtype: float64

In [69]:
df['NRI_Buyer']=df['NRI_Buyer'].map({'yes':True, 'no':False})

In [70]:
df["Booking_Flag"] = np.where(df["Possession_Status"].str.lower().str.contains("launch"), 1, 0)

In [71]:
df = df.rename(columns={
    "Property_ID": "Project_ID",
    "Developer_Name": "Builder",
    "Booking_Flag": "Booking_Status"
})

In [72]:
df

,Project_ID,Micro_Market,Project_Name,Builder,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,...,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Quarter_Number,Booking_Status
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025,4BHK,12.750846,Primary,NRI,2025-03-31,...,5.462863,Launch,Broker,True,9.212491,18,Loved the amenities!,31679.120596,1,1
1,PROP000002,Indiranagar,Project_1,Puravankara,5760,3BHK,16.292152,Primary,Other,2024-06-30,...,7.503663,Under construction,NRI Desk,False,7.723898,106,No comments,28284.985885,2,0
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707,4BHK,10.517724,Primary,HNI,2023-12-31,...,8.669227,Ready to move,Direct,True,6.985493,113,Agent was not responsive.,13646.976009,4,0
3,PROP000004,Bellary Road,Project_3,Embassy,6192,3BHK,9.396367,Primary,HNI,2024-03-31,...,5.720246,Ready to move,Online,True,6.100929,106,Excellent location!,15175.012103,1,0
4,PROP000005,Koramangala,Project_4,SNN Raj,7147,4BHK,15.345392,Secondary,HNI,2024-12-31,...,8.609649,Under construction,Broker,False,5.312510,18,Too far from my office.,21471.096180,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100995,PROP004730,Bellary Road,Project_229,Embassy,8546,5BHK+,11.330810,Secondary,CXO,2024-12-31,...,6.221131,Under construction,NRI Desk,False,7.511827,22,Will buy after possession.,13258.612263,4,0
100996,PROP059810,Bellary Road,Project_309,Brigade,3408,3BHK,10.829373,Primary,CXO,2024-09-30,...,9.783611,Ready to move,Direct,False,9.851849,26,Agent was not responsive.,31776.329695,3,0
100997,PROP065099,Hennur Road,Project_98,RMZ,4691,4BHK,11.183303,Primary,NRI,2023-12-31,...,8.383013,Under construction,Broker,False,9.101604,44,Loved the amenities!,23839.912918,4,0
100998,PROP093022,Rajajinagar,Project_21,Embassy,7435,3BHK,10.914156,Secondary,Other,2024-06-30,...,5.756247,Under construction,Broker,True,8.588551,66,Excellent location!,14679.430235,2,0
100999,PROP023826,Whitefield,Project_325,L&T Realty,3218,4BHK,13.270000,Primary,Startup Founder,2023-12-31,...,9.989290,Under construction,Direct,True,9.917647,58,Loved the amenities!,41236.793039,4,0

In [73]:
df.duplicated().sum()

np.int64(1000)

In [74]:
df.drop_duplicates(inplace= True)

In [75]:
df.duplicated().sum()

np.int64(0)

In [76]:
df.dtypes

Project_ID                      object
Micro_Market                    object
Project_Name                    object
Builder                         object
Unit_Size_Sqft                   int64
Configuration                   object
Ticket_Price_Cr                float64
Transaction_Type                object
Buyer_Type                      object
Purchase_Quarter        datetime64[ns]
Connectivity_Score             float64
Amenity_Score                  float64
Possession_Status               object
Sales_Channel                   object
NRI_Buyer                         bool
Locality_Infra_Score           float64
Avg_Traffic_Time_Min             int64
Buyer_Comments                  object
Price_per_Sqft                 float64
Quarter_Number                   int64
Booking_Status                   int64
dtype: object

In [77]:
df.to_csv("cleaned_luxury_housing.csv", index=False)

In [78]:
luxury_housing_sales = df

In [79]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [80]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.12/dist-packages (9.4.0)

In [81]:
!apt-get update
!apt-get install -y mysql-server
!service mysql start

Hit:1 https://cli.github.com/packages stable InRelease
Hit:2 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 128 kB in 2s (80.8 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.43-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
 * Starting MySQL database server mysqld
   ...done.

In [91]:
df = pd.read_csv("/content/cleaned_luxury_housing.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Project_ID            100000 non-null  object
 1   Micro_Market          100000 non-null  object
 2   Project_Name          100000 non-null  object
 3   Builder               100000 non-null  object
 4   Unit_Size_Sqft        100000 non-null  int64
 5   Configuration         100000 non-null  object
 6   Ticket_Price_Cr       100000 non-null  float64
 7   Transaction_Type      100000 non-null  object
 8   Buyer_Type            100000 non-null  object
 9   Purchase_Quarter      100000 non-null  object
 10  Connectivity_Score    100000 non-null  float64
 11  Amenity_Score         100000 non-null  float64
 12  Possession_Status     100000 non-null  object
 13  Sales_Channel         100000 non-null  object
 14  NRI_Buyer             100000 non-null  bool
 15  Locality_Infra_Score  100000 non-null  float64
 16  Avg_Traffic_Time_Min  100000 non-null  int64
 17  Buyer_Comments        100000 non-null  object
 18  Price_per_Sqft        100000 non-null  float64
 19  Quarter_Number        100000 non-null  int64
 20  Booking_Status        100000 non-null  int64
dtypes: bool(1), float64(5), int64(4), object(11)
memory usage: 15.4+ MB